.container {
    position: relative;
    height: 100%;
    width: 100%;
    /* z-index: -1; */
    background: #141414;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
}

.title {
    height: 10rem;
    color: #fff;
    font-family: "lato", sans-serif;
    font-size: 181%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}